@charset "utf-8";
/* CSS Document */

html, body, div, h1, h2, h3, p, b, i, strong, em, strike, sub, sup, ul, ol, li, blockquote, form, imput, textarea, select, button, td, tr, th, table, span, header, footer, article, aside, nav, section, main  {
	padding:0;
	margin:0;
}

body {
	background-color: #04001d;
	width: auto;
}

#conteinerPas {
	width: 960px;
	min-height: 500px;
	max-height:90%;
	background-color:red;
	margin: 5% auto;
	background-color:#12152c;
	border-radius: 20px;	
}

#conteinerFAQ {
	display: none;
	width: 960px;
	height: 600px;
	background-color: red;
	margin: 5% auto;
	background-color: #12152c;
	border-radius: 20px;
	overflow: auto; 
}

#conteinerNews {
	display: none;
	width: 960px;
	height: 600px;
	background-color: red;
	margin: 5% auto;
	background-color: #12152c;
	border-radius: 20px;
	overflow: hidden; 
}


section {
	padding: 0px !important;
}
section {
	padding: 48px 20px 20px;
	text-align: center;	
}
section img{
	display:block; 
	margin:0 auto;
}

form input{
	margin-top:30px;
	margin:auto;
	margin-top:30px;
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(51, 102, 153);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: uppercase;
	vertical-align: middle;
	width: 223px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 0px;
}

ul.hr li {
    display: inline; 
    margin-right: 10px; 
	color:rgb(65, 69, 98);
	font-size:36px;
	cursor:pointer;
}	
ul.hr li:hover {
    display: inline; 
    margin-right: 10px; 
	color: #FFFFFF;
	font-size:36px;
	cursor:pointer;
}	

footer {
	display:none;
	text-align:center;
	position:absolute;
	height:44px;
	width:100%;
	bottom:0;	
	
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none; 
}
